.login {
  margin: 0;
  display: flex;
  background-color: #0029ff;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a card-like appearance */
  text-align: center;
  width: 300px;
}

.form h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 0;
  background-color: #ededed;
}

.form button {
  margin-top: 20px;
  background-color: #0029ff;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.form button:hover {
  background-color: #001eb7;
}

.form span {
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
  color: #919191;
  font-size: small;
}
